@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


@import "tailwindcss";

@theme {
    --font-josefin: "Josefin Sans", sans-serif;
    --font-lato: "Lato", sans-serif;
    --color-primary: #151875;
    --color-primary-light: #7e33e0;
    --color-primary-dark: #0d0e43;
    --color-secondary: #fb2e86;
}

@layer components {
    .sidebar {
        @apply bg-yellow-200 fixed;
    }

    .container {
        @apply mx-auto px-3;
    }
}